<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receitas</title>
  <link rel="stylesheet" href="../static/avaliacoes.css">
</head>
<body>

<div>
  <a href="/">Início</a>
  <a href="/avaliacoes">avaliacoes</a>
</div>


<h2>Avaliar</h2>
  <form action="/avaliacoes" method="post">
    <input type="text" name="nome" placeholder="Nome da Receita" required>
    <input type="number" name="" placeholder="nota" required>
    <button type="submit">Salvar Receita</button>
  </form>
   <a href="/listadeavaliacoes">Listar avaliacoes</a>
</body>
</html>