<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cardápio</title>
  <link rel="stylesheet" href="../static/carda.css">
</head>
<body>

 <div>
  <a href="/">Início</a>
  <a href="/cardapio">Cardápio</a>
</div>




<h2>Cardápio</h2>
  <form action="/cardapio" method="post">
        <select name="receita" >
            {% for receita in receitas %}
                <option value="{{receita[0]}}">{{receita[0]}} - R$ {{receita[1]}}</option>
            {% endfor %}
        </select><br>
      <button type="submit">Fazer pedido </button>
  </form>

</body>
</html>
