<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
    <h1>Página ADMIN da Padaria</h1>
    <hr><br>
    <p>{{msg}}</p>
    <form action="/adicionar" method="post">
        <h2>Adicionar crush</h2>
        <input name="nome" placeholder="digite o nome"><br>
        <input type="number" name="preco" placeholder="digite o preço "><br>
        <input type="text" name="ingredietes" placeholder="digite os ingredietes"><br>
        <button>Enviar</button>
    </form>
    <br><hr><br>
    <form action="/remover" method="post">
        <h2>Remover receitas</h2>
        <input name="nome" placeholder="digite a receita">
        <button>Enviar</button>
    </form>
    <br><br>

</body>
</html>