<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Padaria Online</title>
  <link rel="stylesheet" href="../static/paginaprincipal.css">

<body>

  <div class="fundo">
    <img src="../static/padaria.jpg" alt="Imagem de fundo" class="imagem">

    <div class="menu">
        <div class="topo">
    <a>Bem-vindo à nossa padaria</a>
    <a>Gerenciamento da padaria e pedidos dos clientes</a>
  </div>
      <a href="/" class="botao-link">Início</a>
      <a href="/login" class="botao-link">Login</a>
      <a href="/cardapio" class="botao-link">Cardápio</a>
      <a href="/receitas" class="botao-link">Receitas</a>
      <a href="/avaliacoes" class="botao-link">Avaliações</a>
    </div>

    <div class="sobreposta"> Aqui você pode visualizar o cardápio, enviar receitas, contratar funcionários,
      fazer pedidos e muito mais...</div>
  </div>

</body>
</html>
